
@{
    ViewBag.Title = "ErrorMessage";
}

<style>
    #error {
        font-size: 50px;
        margin-top: 100px; 
    }

    #caritaTriste{
        width:20%;
        height:20%;
    }

    #cont-error{
        margin-top:5%;
    }
        
        
</style>

<div class="container" id="cont-error">
    <div class="text-center">
        <img src="@Url.Content("~/Resources/Images/caritaError.png")"  id="caritaTriste" alt="Error">
    </div>
    
</div>

<div class="alert alert-danger" id="error" role="alert">
    <center><strong>Ha ocurrido un error, por favor revisar</strong></center>
</div>

