@model SPC_Coopenae.UI.Areas.Mantenimientos.Models.Ejecutivos

<div class="form-group">
    @Html.Label("Ejecutivo", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBox("Ejecutivo", null, new { @class = "form-control" } )
    </div>
</div>