
@{
    ViewBag.Title = "ErrorMessage";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-danger" id="error" role="alert">
            <center>
                <h3><strong>Ha ocurrido un error.</strong></h3>
                <h4>Si el error persiste contacte a soporte.</h4>
            </center>
        </div>
    </div>
</div>


