
@{
    ViewBag.Title = "Prueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prueba</h2>

<div class="master">

    <h4>Escala</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Descripcion</label>
            <div class="col-md-4">
                <input type="text" name="Descripcion" id="Descripcion" class="form-control"/>
            </div>
        </div>
    </div>

    <br />


    <h4>Detalle Escalas</h4>

    <div class="form-horizontal">
        <input type="hidden" name="IdEscalaDetalle" value="" />

        <div class="form-group">
            <label class="control-label col-md-2">PCT Minimo</label>
            <div class="col-md-4">
                <input type="number" name="pctmin" id="pctmin" class="form-control" />
            </div>
            <label class="control-label col-md-2">PCT Maximo</label>
            <div class="col-md-4">
                <input type="number" name="pctmax" id="pctmax" class="form-control" />
            </div>
            <label class="control-label col-md-2">Comision</label>
            <div class="col-md-4">
                <input type="text" name="comision" id="comision" class="form-control" />
            </div>
            <div class="form-group">
                <div class="col-md-2 col-lg-offset-4">
                    <input type="button" name="agregar" id="agregar" value="Agregar" class="btn btn-success" />
                </div>
            </div>
        </div>


    </div>

    <table class="table" id="detallesEscala">
        <thead>
            <tr>
                <th>Pct Min</th>
                <th>Pct Max</th>
                <th>Comision</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
    <input type="submit" name="guardar" id="guardar" value="Guardar" class="btn btn-primary"/>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var itemsDetalle = [];

            $('#agregar').click(function (e) {
                e.preventDefault();

                if ($.trim($('#pctmin').val()) == "" || $.trim($('#pctmax').val()) == "" || $.trim($('#comision').val()) == "") return;

                var pct_min = $('#pctmin').val(),
                    pct_max = $('#pctmax').val(),
                    comision = $('#comision').val(),
                    detallesBody = $('#detallesEscala tbody');

                var escalaItem = '<tr><td>' + pct_min + '</td>' +
                    '<td>' + pct_max + '</td>' +
                    '<td>' + comision + '</td></tr>';

                detallesBody.append(escalaItem);

                limpiar();

            });

            function limpiar() {
                $('#pctmin').val('');
                $('#pctmax').val('');
                $('#comision').val('');
            }


            function GenerarTablas() {
                if (itemsDetalle.length >= 0) {
                    var $table = $('<table/>');
                    $table.append('<thead><tr><th>PCTMin</th><th>PCTMax</th><th>Comision</th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(itemsDetalle, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.PCTMin));
                        $row.append($('<td/>').html(val.PCTMax));
                        $row.append($('<td/>').html(val.Comision));
                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $('#pruebaaas').html($table)
                }
            }

        });
    </script>
}

